*,
body,
html {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    
}
.header{
    height:40px;
    background-color:#FFFFFF;  
}
.content{
    background-color: #E2E4E9;
}
.toolbar{
    height: 56px;
    /* background-color: coral; */
}